
<!-- FOR forum in forumrow -->
	<!-- IF (forum.S_IS_CAT and not loop.first) or forum.S_NO_CAT  -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<!-- IF forum.S_IS_CAT or loop.first  or forum.S_NO_CAT  -->
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><!-- IF forum.S_IS_CAT --><a href="{forum.U_VIEWFORUM}">{forum.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->

	<!-- IF not forum.S_IS_CAT -->
		<li class="row">
			<dl class="icon {forum.FORUM_IMG_STYLE}">
				<dt title="{forum.FORUM_FOLDER_IMG_ALT}">
				<!-- IF S_ENABLE_FEEDS and forum.S_FEED_ENABLED --><!-- raw --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forum.FORUM_NAME}" href="{U_FEED}?f={forum.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forum.FORUM_NAME}" /></a> --><!-- endraw --><!-- ENDIF -->

					<!-- IF forum.FORUM_IMAGE --><span class="forum-image">{forum.FORUM_IMAGE}</span><!-- ENDIF -->
					<a href="{forum.U_VIEWFORUM}" class="forumtitle">{forum.FORUM_NAME}</a><br />
					{forum.FORUM_DESC}
					<!-- IF forum.MODERATORS -->
						<br /><strong>{forum.L_MODERATOR_STR}:</strong> {forum.MODERATORS}
					<!-- ENDIF -->
					<!-- IF forum.SUBFORUMS and forum.S_LIST_SUBFORUMS --><br /><strong>{forum.L_SUBFORUM_STR}</strong> {forum.SUBFORUMS}<!-- ENDIF -->
				</dt>
				<!-- IF forum.CLICKS -->
					<dd class="redirect"><span>{L_REDIRECTS}: {forum.CLICKS}</span></dd>
				<!-- ELSEIF not forum.S_IS_LINK -->
					<dd class="topics">{forum.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
					<dd class="posts">{forum.POSTS} <dfn>{L_POSTS}</dfn></dd>
					<dd class="lastpost"><span>
						<!-- IF forum.U_UNAPPROVED_TOPICS --><a href="{forum.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a><!-- ENDIF -->
						<!-- IF forum.LAST_POST_TIME --><dfn>{L_LAST_POST}</dfn> {L_POST_BY_AUTHOR} {forum.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forum.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{forum.LAST_POST_TIME}<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF --></span>
					</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF loop.last -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

<!-- ELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_FORUMS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDFOR -->
